body{
    background-color: black;
}
.headi{
    text-shadow: 5px 5px 7px rgb(80, 203, 255);
    color: white;
    font-size: 5em;
    width: 200px;
    margin: auto;
}
p{
    border: dotted 10px hsl(288, 65%, 90%);
    border-radius: 10px;
    color: lightpink;
    margin: 50px;
    padding: 10%;

}
#fe {
    text-align: center;
    width: 100%;
}
#fe img{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
}